# Database files
*.sqlite
*.db
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal

# Ignore collections downloaded via the UI
collection/*
!collection/.gitkeep
app_build/collection/*
!app_build/collection/.gitkeep
